extends layoutAdmin

block current_page
	- activePanel = ''
	- activePages = 'active'
	- activePosts = ''
	- activeUsers = ''
	- currentActive = 'Paginas'
	- currentPanel = 'Paginas'

block panel
	a(href='/user/mainAdmin') Panel

append breadcrumb
	li.breadcrumb-item.active(aria-current='page') Paginas

block content
	.col-md-9.mb-3
		.card.bg-light.text-center.mb-3.mb-3
			.card-header.main-color-bg
				b Paginas
			.card-body
				.row
					.col-md-12
						input.form-control(placeholder='Filtrar paginas...', type='text')
				br
				table.table.table-hover
					tbody
						tr
							th Titulo
							th Publicado
							th Creado
							th
						tr
							td Nuestra historia
							td
								i.fas.fa-check(aria-hidden="ture")
							td 9 de Marzo de 2019
							td
								button.btn.btn-outline-info.btn-sm(type="button") Editar
						tr
							td Sedes
							td
								i.fas.fa-check(aria-hidden="ture")
							td 9 de Marzo de 2019
							td
								button.btn.btn-outline-info.btn-sm(type="button") Editar
						tr
							td Autoridades
							td
								i.fas.fa-check(aria-hidden="ture")
							td 9 de Marzo de 2019
							td
								button.btn.btn-outline-info.btn-sm(type="button") Editar
						tr
							td Biblioteca
							td
								i.fas.fa-check(aria-hidden="ture")
							td 9 de Marzo de 2019
							td
								button.btn.btn-outline-info.btn-sm(type="button") Editar
						tr
							td Asociación cooperadora
							td
								i.fas.fa-check(aria-hidden="ture")
							td 9 de Marzo de 2019
							td
								button.btn.btn-outline-info.btn-sm(type="button") Editar
						tr
							td Información para ingresantes
							td
								i.fas.fa-check(aria-hidden="ture")
							td 9 de Marzo de 2019
							td
								button.btn.btn-outline-info.btn-sm(type="button") Editar
						tr
							td Cursos de ingreso
							td
								i.fas.fa-check(aria-hidden="ture")
							td 9 de Marzo de 2019
							td
								button.btn.btn-outline-info.btn-sm(type="button") Editar
						tr
							td ¿Por qué estudiar nuestras carreras?
							td
								i.fas.fa-check(aria-hidden="ture")
							td 9 de Marzo de 2019
							td
								button.btn.btn-outline-info.btn-sm(type="button") Editar
						tr
							td Analísis Funcional de Sistemas Informáticos
							td
								i.fas.fa-check(aria-hidden="ture")
							td 9 de Marzo de 2019
							td
								button.btn.btn-outline-info.btn-sm(type="button") Editar
						tr
							td Infraestructura de Tecnología de la Información
							td
								i.fas.fa-check(aria-hidden="ture")
							td 9 de Marzo de 2019
							td
								button.btn.btn-outline-info.btn-sm(type="button") Editar
						tr
							td Desarrollo de Software
							td
								i.fas.fa-check(aria-hidden="ture")
							td 9 de Marzo de 2019
							td
								button.btn.btn-outline-info.btn-sm(type="button") Editar

