extends layout

block append current_page
	- current_page = "Autoridades"
	
block content
	.container.content
		h2 Análisis Funcional de Sistemas Informáticos
		p
			center
				img.img-thumbnail.img-responsive(src="../images/AF.jpg" alt="Cinque Terre")
		
		p El Técnico Superior en Análisis Funcional de Sistemas Informáticos estará capacitado para comprender e interpretar fines, negocios o actividades de una organización, analizar los procesos que se llevan a cabo, averiguar las necesidades de información, proponer mejoras, especificar requisitos de software, redactar manuales y procedimientos, y apoyar la puesta en marcha de sistemas, actuando de nexo entre usuarios de la organización y el grupo de proyecto, desarrollando las actividades descriptas en el perfil profesional y cumpliendo con los criterios de realización establecidos para las mismas.
		p: b Las funciones del Técnico Superior en Análisis Funcional de Sistemas Informáticos son:
		
		ul
			li: em Relevar necesidades de información de los usuarios para establecer los requerimientos del sistema.
			li: em Interpretar el proceso de negocio o actividad objeto del sistema para comprenderlo y desarrollar modelos que representen la realidad de la organización y su operatoria.
			li: em Definir el alcance funcional del proceso o sistema, tomando en cuenta las prioridades establecidas y estimar su tamaño para establecer una línea de base para el proyecto.
			li: em Analizar el problema objeto del proyecto para especificar los requisitos de software.
			li: em Validar los requisitos especificados para asegurarse que representan las necesidades de las partes interesadas.
			li: em Transferir los requisitos de software al resto del equipo para facilitar su comprensión e implementación en artefactos de software.
			li: em Verificar la funcionalidad del software para asegurarse que satisface los requisitos planteados.
			li: em Generar el soporte documental para el usuario.
			li: em Implantar el sistema o procedimiento en la organización.
			li: em Administrar los requerimientos y las solicitudes de cambio de los requisitos de software.
			li: em Generar propuestas innovadoras y/o emprendimientos productivos propios del ámbito del análisis funcional de sistemas informáticos.

		p: b Estructura Curricular por Años:
		p
			center
				img.img-thumbnail.img-responsive(src="../images/AF Estructura Curricular.jpg" alt="Cinque Terre")
