extends layout

block append current_page
	- current_page = "Asociacón cooperadora"
	
block content
	.container.content
		h2 Asociación Cooperadora
		p La Asociación Cooperadora de la Escuela Superior de Comercio Nº 49 “Cap. Gral. J. J. de Urquiza”  existe desde la creación de la institución, década del 50, con el fin de acompañar el proceso de enseñanza y de sus requerimientos tanto en el nivel secundario como superior.
		p De ésta manera, la Cooperadora afronta el mantenimiento de las salas de informática (5 salas) y de los puestos de trabajo (90 computadoras) que posee la institución, mantenimiento edilicio, biblioteca, gastos de papelería interna, servicios a alumnos de bajos recursos (tarjetas de transporte, por ejemplo), el pago mensual de una línea accesoria de Internet para usos administrativos, el pago anual de servidores externos para alojamiento de material bibliográfico y sitio WEB, entre otros.
		p Todos estos servicios se logran gracias a la colaboración voluntaria de los alumnos de los dos niveles educativos con que cuenta la institución.
		p La Cooperadora es conformada por padres, egresados, colaboradores, dirección de la escuela y las decisiones son tomadas en asambleas destinadas para tales fines.
		p Gracias a la Cooperadora podemos mantener buena parte de la infraestructura de nuestra escuela, tanto en lo edilicio como en material pedagógico-didáctico.