div.copyright
	div.container
		div.row.justify-content-center
			ul
				li
					p(style='font-size: 0.9em;') Web designed for Urquiza school by Paulo and Iván
				li
					a(href='#') Privacidad
				li.li-copy
					a(href='#') Terminos y condiciones