div.copyright
	div.container
		div.row.justify-content-center
			p(style='font-size: 0.9em;') Web designed for Urquiza by #[a(href="https://linkedin.com/in/paulo-ordóñez-Giovanazzi") Paulo] & #[a(href="https://linkedin.com/in/ivanog") Iván]