extends layout

block content

	style
		include ../public/stylesheets/animate.css
		include ../public/stylesheets/style.css

	script
		include ../public/js/jq.js
		include ../public/js/jquery.waypoints.min.js

	nav.navbar.navbar-expand-lg.navbar-dark.fixed-top
		img#icono.img-responsive(src="../images/Urquiza Icon.png",  alt="Responsive image")
		a.navbar-brand(href='#')
			p#esc-ter Esc. Superior Nº 49
				br
				p#grl-urq Grl. Urquiza

		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent')
			span.navbar-toggler-icon

		div#navbarSupportedContent.collapse.navbar-collapse.justify-content-between
			ul.nav.navbar-nav.mr-2
				li.nav-item
					a.nav-link(href='#') Inicio
				li.nav-item
					a.nav-link(href='#') Institucional
				li.nav-item
					a.nav-link(href='#') Ingresantes
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle(href='#',data-toggle='dropdown') Carreras
					div.dropdown-menu.rounded-0
						a.dropdown-item(href='#') Análisis Funcional de Sistemas Informáticos
						a.dropdown-item(href='#') Infraestructura de Tecnología de la Información
						a.dropdown-item(href='#') Desarrollo de Software
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') Alumnado
					div.dropdown-menu.rounded-0
						a.dropdown-item(href='#') Calendario Academico
						a.dropdown-item(href='#') Turnos de Exámenes
						a.dropdown-item(href='#') Horarios
						a.dropdown-item(href='#') Trámites
				li.nav-item
					a.nav-link(href='#') Docentes
				li.nav-item
					a.nav-link(href='#') Graduados
				li.nav-item
					a.nav-link(href='#consultas') Contacto

			form.form-inline(action='', method='get')
				input.search.mr-2.mt-2(type='text', name='search', placeholder='Buscar...')
				a.btn.btn-outline-light.rounded-0.mr-2.mt-2(href='/login') Ingresar
				a.btn.btn-secondary.rounded-0.mt-2(href='/signup') Registrarse
	br
	br
	br
	br
	br
	div#carouselExampleIndicators.carousel.slide(data-ride='carousel')
		ol.carousel-indicators
			li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
			li(data-target='#carouselExampleIndicators', data-slide-to='1')
			li(data-target='#carouselExampleIndicators', data-slide-to='2')

		div.carousel-inner
			div.carousel-item.active
				img.d-block.w-100(src='../images/1.jpg', alt='First slide')
				div.carousel-caption.d-none.d-md-block
					h5 Slide1
					p text text text text

			div.carousel-item
				img.d-block.w-100(src='../images/2.jpg', alt='Second slide')
				div.carousel-caption.d-none.d-md-block
					h5 Slide2
					p text text text text

			div.carousel-item
				img.d-block.w-100(src='../images/3.jpg', alt='Third slide')
				div.carousel-caption.d-none.d-md-block
					h5 Slide3
					p text text text text

		a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
			span.carousel-control-prev-icon(aria-hidden='true')
			span.sr-only Previous

		a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
			span.carousel-control-next-icon(aria-hidden='true')
			span.sr-only Next

	div.container.mb-4

		div.row.mb-4
			div.col-sm-12.col-md-4.mt-4
				div.card
					div.card-body.text-center
						h5.card-title Titulo de novedades
						p.card-text Algun resumen del referido a las novedades
						a.card-link(href='#') Otro enlace
			div.col.mt-4
				div.card
					div.card-body.text-center
						h5.card-title Titulo de novedades
						p.card-text Algun resumen del referido a las novedades
						a.card-link(href='#') Otro enlace
			div.col.mt-4
				div.card
					div.card-body.text-center
						h5.card-title Titulo de novedades
						p.card-text Algun resumen del referido a las novedades
						a.card-link(href='#') Otro enlace


		div.row.mt-sm-4
			div.col-sm-12.col-md-8.text-sm-center.text-md-left
				h3 Una importante cabecera
				p.lead Una sub-cabesera importante pueder ir aqui, lo cual es mas grande y gris
				p #{text1}
			div.col-sm-12.col-md-4
				h3.mb-4 Menu Secundario
				#v-pills-tab.nav.flex-column.nav-pills.rounded-0(role='tablist', aria-orientation='vertical')
					a#v-pills-home-tab.nav-link.active.rounded-0(data-toggle='pill', href='#v-pills-home', role='tab', aria-controls='v-pills-home', aria-selected='true') Home
					a#v-pills-profile-tab.nav-link.rounded-0(data-toggle='pill', href='#v-pills-profile', role='tab', aria-controls='v-pills-profile', aria-selected='false') Profile
					a#v-pills-messages-tab.nav-link.rounded-0(data-toggle='pill', href='#v-pills-messages', role='tab', aria-controls='v-pills-messages', aria-selected='false') Messages
					a#v-pills-settings-tab.nav-link.rounded-0(data-toggle='pill', href='#v-pills-settings', role='tab', aria-controls='v-pills-settings', aria-selected='false') Settings


	a(name='consultas')
	br
	br
	section
		div.bg-contact
			br
			#contact.container
				.wrapper
					.company-info
						ul
							li
								i.fa.fa-road
								|  Bv. Oroño 690 - Rosario
							li
								i.fa.fa-phone
								|	(0341) 4721430 o 
								|	(0341) 4721431
							li
								i.fa.fa-envelope
								|  info@terciariourquiza.edu.ar
					.contact
						h3 Envianos tus consultas
						form
							p
								label Nombre
								input(type='text', name='name')
							p
								label E-mail
								input(type='email', name='email')
							p.full
								label Mensaje
								textarea(name='message', rows='5')
							p.full
								button Enviar
			br

	section
		div.footer
			div.container
				div.row
					div.col-md-3
						h4 Suscribete a novedades
						form(action='./')
							div.input-group.mb-3
								input.form-control.rounded-0(type='text', placeholder='Email')
								div.input-group-append
									button.btn.btn-outline-light.rounded-0(type='button')
										i.fa.fa-paper-plane
							p Recibi nuestras actualizaciones directamente en tu correo electrónico.

					div.col-md-3
						h4 Alumnos
						ul
							li
								a(href='#') Calendario académico
							li
								a(href='#') Reglamentos
							li
								a(href='#') Cursos
							li
								a(href='#') Webs de asignaturas
							li
								a(href='#') Tutoría

					div.col-md-3
						h4 Contacto
						p
							strong Esc. Urquiza
						p Direccion
						p Telefonos

					div.col-md-3
						h4 Redes sociales

		div.copyright
			div.container
				div.row.justify-content-center
					ul
						li
							p(style='font-size: 0.9em;') Web designed for Urquiza school by Paulo and Iván
						li
							a(href='#') Privacidad
						li.li-copy
							a(href='#') Terminos y condiciones