extends layout

block content
	div.container.content
		div.row.mb-4
			div.col-sm-12.col-md-4.mt-3
				div.card
					img.card-img-top(src="../images/AF.jpg", alt="Card image cap")
					div.card-body.text-center
						h5.card-title Análisis Funcional de Sistemas Informáticos 
						p.card-text El Técnico Superior en Análisis Funcional de Sistemas Informáticos estará capacitado para comprender e interpretar fines, negocios o actividades ...
						a.btn.btn-primary.rounded-0(href='/analisisFuncional') Saber más
			div.col-md-4.mt-3
				div.card
					img.card-img-top(src="../images/ITI.jpg", alt="Card image cap")
					div.card-body.text-center
						h5.card-title Infraestructura de Tecnología de la Información
						p.card-text El Técnico Superior en Infraestructura de Tecnología de la Información estará capacitado para implementar, mantener, actualizar, ...
						a.btn.btn-primary.rounded-0(href='/iti') Saber más
			div.col-md-4.mt-3
				div.card
					img.card-img-top(src="../images/DS.jpg", alt="Card image cap")
					div.card-body.text-center
						h5.card-title Desarrollo de Software
						p.card-text El Técnico Superior en Desarrollo de Software participa en proyectos de desarrollo de software desempeñando roles que tienen por objeto producir artefactos de software (programas, módulos, objetos). Estos artefactos ...
						a.btn.btn-primary.rounded-0(href='/desarrolloSoftware') Saber más

		div.row.mt-sm-4
			div.col-sm-12.col-md-8.text-sm-center.text-md-left
				h3 Una importante cabecera
				p.lead Una sub-cabesera importante pueder ir aqui, lo cual es mas grande y gris
				p #{text1}
			.col-sm-4.sidenav
				.well
					h5 Noticia 1
					p  Nam vulputate magna sed leo luctus congue. Proin efficitur non libero ultricies scelerisque. Aenean imperdiet hendrerit volutpat. Cras ultrices tempor nisi sit amet interdum. Fusce ultricies pulvinar ante, vel consequat augue ultrices sed. Cras in malesuada libero, eu vestibulum est. In luctus sem nibh, eu porttitor tellus vehicula eu. Duis vel nulla quis nisi consectetur eleifend. 
				.well
					h5 Noticia 2
					p Nam vulputate magna sed leo luctus congue. Proin efficitur non libero ultricies scelerisque. Aenean imperdiet hendrerit volutpat. Cras ultrices tempor nisi sit amet interdum. Fusce ultricies pulvinar ante, vel consequat augue ultrices sed. Cras in malesuada libero, eu vestibulum est. In luctus sem nibh, eu porttitor tellus vehicula eu. Duis vel nulla quis nisi consectetur eleifend.  
				.well
					h5 Noticia 3
					p Nam vulputate magna sed leo luctus congue. Proin efficitur non libero ultricies scelerisque. Aenean imperdiet hendrerit volutpat. Cras ultrices tempor nisi sit amet interdum. Fusce ultricies pulvinar ante, vel consequat augue ultrices sed. Cras in malesuada libero, eu vestibulum est. In luctus sem nibh, eu porttitor tellus vehicula eu. Duis vel nulla quis nisi consectetur eleifend. 


	a(name='consultas')