extends layout

block append current_page
	- current_page = "Infraestructura de Tecnología de la Información"
	
block content
	.container.content
		h2 Infraestructura de Tecnología de la Información 
		p 
			center
				img.img-thumbnail.img-responsive(src="../images/ITI.jpg" alt="Cinque Terre")

		p El Técnico Superior en Infraestructura de Tecnología de la Información estará capacitado para implementar, mantener, actualizar, analizar inconvenientes y resolver problemas derivados de la operación de productos de tecnología de la información que cumplen funciones de sistema operativo, administración de almacenamiento, comunicaciones y redes, seguridad, bases de datos, y otros subsistemas, para garantizar la máxima disponibilidad del ambiente operativo de las aplicaciones informáticas de las organizaciones desarrollando las funciones descriptas en el perfil profesional y cumpliendo con los criterios de realización establecidos para las mismas, para lo cual coordinará o complementará su trabajo con especialistas de la misma organización o externos.

		p: b Las funciones del Técnico Superior en Infraestructura de Tecnología de la Información son:

		ul
			li: em Administrar servidores, software de base, comunicaciones y demás subsistemas, maximizando el aprovechamiento de los recursos y anticipando posibles problemas.
			li: em Administrar redes de comunicación de datos, cableadas o no, asegurando la accesibilidad de los servicios y optimizando los recursos.
			li: em Atender incidentes que afecten al Soporte de Infraestructura de TI, diagnosticar las causas que los originan y resolverlos o coordinar su solución.
			li: em Instalar o reemplazar componentes de Soporte de Infraestructura de TI o adaptarla a nuevas condiciones de servicios externos minimizando riesgos para la seguridad y continuidad del servicio.
			li: em Migrar o convertir sistemas, aplicaciones o datos tratando de minimizar riesgos para la seguridad y continuidad del servicio.
			li: em Entender en temas de contingencias y riesgos que puedan afectar al Soporte de Infraestructura de TI.
			li: em Generar propuestas innovadoras y/o emprendimientos productivos propios del ámbito de la gestión de Soporte de Infraestructura de TI.

		p: b Estructura Curricular por Años:

		p
			center
				img.img-thumbnail.img-responsive(src="../images/ITI Estructura Curricular.jpg" alt="Cinque Terre")