doctype html
html
	head
		title= title
		
		block head
			include head

		style
			include ../public/stylesheets/animate.css
			include ../public/stylesheets/style.css

	body
		block header
			include header

		block content

		block prefooter
			include prefooter
		block footer
			include footer

		script
			include ../public/js/jq.js
			include ../public/js/jquery.waypoints.min.js