doctype html
html
	head
		title Ingresar
		
		block head
			include head

		style
			include ../public/stylesheets/loginStyle.css

	body
		.container.mx-auto
			img.img-responsive(src="../images/Urquiza Icon.png",  alt="Responsive image")
			h5.text-center.margin-bottom
				i.fa.fa-user.title-icon
				span(translate-context="Title", translate="") &nbsp; Inicio de sesión
			form
				.form-input(action='#')
					input(type='text', name='text', placeholder='Nombre de usuario')
				.form-input(action='#')
					input(type='password', name='password', placeholder='Contraseña')
				input.btn-login(type='submit', value='Iniciar sesión')
			a(href='#') ¿Necesita  ayuda?
			a(href='/signup') Crear cuenta

		script
			include ../public/js/jq.js
			include ../public/js/jquery.waypoints.min.js