div.footer
	div.container
		div.row
			div.col-md-3
				h4 Suscribete a novedades
				form(action='./')
					div.input-group.mb-3
						input.form-control.rounded-0(type='text', placeholder='Email')
						div.input-group-append
							button.btn.btn-outline-light.rounded-0(type='button')
								i.fa.fa-paper-plane
					p Recibi nuestras actualizaciones directamente en tu correo electrónico.

			div.col-md-3
				h4 Alumnos
				ul
					li
						a(href='#') Calendario académico
					li
						a(href='#') Reglamentos
					li
						a(href='#') Cursos
					li
						a(href='#') Webs de asignaturas
					li
						a(href='#') Tutoría

			div.col-md-3
				h4 Contacto
				p
					strong Esc. Urquiza
				p Direccion
				p Telefonos

			div.col-md-3
				h4 Redes sociales