doctype html
head
	title  Registro Urquiza 
	meta(name='viewport' content='width=device-width, initial-scale=1')
	meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
	meta(name='keywords' content='Registro, Registrarse, Registrarse en escuela Urquiza, Urquiza registro, escuela Urquiza')
	script.
		addEventListener("load", function () {
		setTimeout(hideURLbar, 0);
		}, false);
		function hideURLbar() {
		window.scrollTo(0, 1);
		}
	// Custom Theme files
	style
		include ../public/stylesheets/signIn-upStyle.css
	// Font-Awesome-Icons-CSS
	link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU' crossorigin='anonymous')

	// web font
	link(href='//fonts.googleapis.com/css?family=Acme' rel='stylesheet')
	link(href='//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese' rel='stylesheet')
	link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB', crossorigin='anonymous')
// main
.main-agileits
	.navbar.bg-dark.sticky-top
		.navbar-header.pull-left
			a.fa.fa-angle-left.navbar-brand(href='#')
			a.navbar-link(href='/') Volver al inicio 
		.navbar-header.pull-right
			a.btn.navbar-btn.rounded-0(href='/login') Ingresar	
	center
		img.img-responsive(src='../images/Urquiza Icon.png' alt='')
	.register-form
		form(action='/signup' method='post')
			.fields-grid
				.styled-input-2
					label.header Cree su Cuenta
					.styled-input
						span.fa.fa-user(aria-hidden='true')
						input(type='text' placeholder='Ingrese sus nombres y apellidos' title='Ingrese su nombre completo' name='name' required='')
					.styled-input
						span.fa.fa-lock(aria-hidden='true')
						input(type='password' placeholder='Ingrese la contraseña' title='Ingrese una contraseña entre 8 y 15 digitos' name='password' required='')
					.styled-input
						span.fa.fa-user(aria-hidden='true')
						input(type='text' placeholder='Ingrese su DNI' title='Ingrese su DNI' name='dni' required='')
					.styled-input
						span.fa.fa-calendar(aria-hidden='true')
						input#datepicker(placeholder='Día de nacimiento' name='birth' type='text' value='' onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'dd/mm/aaaa';}" required='')
					.styled-input.agile-styled-input-top
						span.fa.fa-venus(aria-hidden='true')
						select.category2(required='' name='gender')
							option(value='') Genero
							option(value='') Femenino
							option(value='') Masculino
							option(value='') Otro
					.styled-input
						span.fa.fa-envelope(aria-hidden='true')
						input(type='email' placeholder='Correo electrónico' title='Ingrese su correo electrónico' name='email' required='')
					.styled-input
						span.fa.fa-phone(aria-hidden='true')
						input(type='text' placeholder='Numero de teléfono' title='Ingrese su numero de teléfono o numero de celular' name='phone_number' required='')
					.styled-input.agile-styled-input-top
						span.fa.fa-book(aria-hidden='true')
						select.category2(required='' name='careers')
							option(value='') Seleccione carrera
							option(value='') Tec. Superior en Desarrollo de Software
							option(value='') Tec. Superior en An&aacute;lisis Funcional de Sistemas Inform&aacute;ticos
							option(value='') Tec. Superior en Infraestructura de Tecnolog&iacute;a de la Informaci&oacute;n
					.styled-input-2
						label.header Direcci&oacute;n
						.styled-input
							input(type='text' name='address' placeholder='Domicilio' title='ingrese su domicilio' required='')
						.styled-input
							input(type='text' name='city' placeholder='Ciudad' title='Ingrese la ciudad en donde vive' required='')
						.styled-input
							input(type='text' name='zip_code' placeholder='Código postal' title='Ingrese el código postal' required='')
					.clear
			input(type='hidden' name='_csrf' value='#{csrfToken}')
			input(type='submit' value='Registrarse')
// copyright

// js
script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')


// Calendar
script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js' integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=' crossorigin='anonymous')

style
	include ../public/stylesheets/jquery-ui.css

script.
	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '< Ant',
		nextText: 'Sig >',
		currentText: 'Hoy',
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''
		};
	$.datepicker.setDefaults($.datepicker.regional['es']);
	$(function () {
		$("#datepicker").datepicker();
	});