html
	block current_page
		- var current_page = "Area de administración"
		- var activePanel = 'active'
		- var activePages = ''
		- var activePosts = ''
		- var activeUsers = ''
		- var currentPanel = 'Panel'
		- var areaBreadcrumb = "active(aria-current='page')"

	head
		title= current_page + " | Esc. Urquiza"

		block head
			include ../head

		style
			include ../../public/stylesheets/DBstyle.css

	body
		block DBheader
			include DBheader

		block postDBheader
			include postDBheader

		section#main
			.container
				.row
					include aside
					block content

		script.
			$('#editor').summernote({
				placeholder: 'Escribir el contenido aquí',
				tabsize: 2,
				height: 100
			});

		block footer
			include ../footer

		script
			include ../../public/js/jq.js
			include ../../public/js/jquery.waypoints.min.js
