extends layoutAdmin

block content
	.col-md-9.mb-3
		.card.bg-light.text-center.mb-3.mb-3
			.card-header.main-color-bg
				b Vista general del sitio web
			.card-body
				.row
					.col-md-4
						.card
							.card-body
								h2.card-title
									span.fas.fa-users(aria-hidden='true') 
										| 5
								p.card-text  Usuarios
					.col-md-4
						.card
							.card-body
								h2.card-title
									span.fas.fa-newspaper(aria-hidden='true') 
										|11
								p.card-text  Paginas
					.col-md-4
						.card
							.card-body
								h2.card-title
									span.fas.fa-pen(aria-hidden='true') 
										| 12
								p.card-text  Noticias

		.card
			.card-header.text-center
				.card-title: b Ultimos usuarios registrados
			.card-body
				table.table.table-hover
					thead
						tr
							th Nombre
							th Email
							th Se registró
					tbody
						tr
							td Jill Smith
							td jillsmith@gmail.com
							td Dec 12, 2016
						tr
							td Eve Jackson
							td ejackson@yahoo.com
							td Dec 13, 2016
						tr
							td John Doe
							td jdoe@gmail.com
							td Dec 13, 2016
						tr
							td Stephanie Landon
							td landon@yahoo.com
							td Dec 14, 2016
						tr
							td Mike Johnson
							td mjohnson@gmail.com
							td Dec 15, 2016
