header#header
	.container
		.row
			.col-md-10
				h1
					span.fa.fa-cog(aria-hidden='true')
					|  Panel 
					small Administración del sitio
			.col-md-2
				.dropdown.create.mr-3
					button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						| Crear contenido
					.dropdown-menu(aria-labelledby='dropdownMenuButton')
						a.dropdown-item(href='#') Agregar articulo
						a.dropdown-item(href='#') Agregar alumno
