header#header
	.container
		.row
			.col-md-10
				h1
					span.fa.fa-cog(aria-hidden='true')
					|  #{currentPanel} 
					small Administración del sitio
			.col-md-2
				.btn-group.mt-2
					button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						| Crear contenido
					.dropdown-menu.dropdown-menu-right
						button.dropdown-item(type='button' data-toggle="modal" data-target="#addPost") Agregar articulo
						button.dropdown-item(type='button') Agregar alumno

.container
	nav(aria-label='breadcrumb')
		ol.breadcrumb
			li.breadcrumb-item.active(aria-current='page')
				block panel
					| Panel
			block breadcrumb

include addPost