extends layoutAdmin

block current_page
	- activePanel = ''
	- activePages = ''
	- activePosts = ''
	- activeUsers = 'Active'
	- currentPanel = 'Alumnos'

block panel
	a(href='/user/mainAdmin') Panel

append breadcrumb
	li.breadcrumb-item.active(aria-current='page') Alumnos

block content
	.col-md-9.mb-3
		.card.bg-light.text-center.mb-3.mb-3
			.card-header.main-color-bg
				b #{currentPanel}
			.card-body
				.row
					.col-md-12
						input.form-control(placeholder="Filtrar alumnos...", type='text')
				br
				table.table.table-hover
					tbody
						tr
							th Nombre
							th Email
							th Ingresó
							th
						tr
							td Juan Perez
							td juanperes@gmail.com
							td 9 de Marzo de 2019
							td
								button.btn.btn-outline-info.btn-sm.mr-1(href='#' type="button") Editar
								button.btn.btn-outline-danger.btn-sm(type="button") Eliminar
						tr
							td Alberto Sanchez
							td albertozanchez@hotmail.com
							td 9 de Marzo de 2019
							td
								button.btn.btn-outline-info.btn-sm.mr-1(href='#' type="button") Editar
								button.btn.btn-outline-danger.btn-sm(type="button") Eliminar
						tr
							td Julieta Ortega
							td julietaortega@outlook.com
							td 9 de Marzo de 2019
							td
								button.btn.btn-outline-info.btn-sm.mr-1(href='#' type="button") Editar
								button.btn.btn-outline-danger.btn-sm(type="button") Eliminar