<!DOCTYPE html>
   <html>
      <head>
         <!--Import Google Icon Font-->
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         <!-- Compiled and minified CSS -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

         <!-- Compiled and minified JavaScript -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

         <!--Let browser know website is optimized for mobile-->
         <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <body style="margin-top: 9%">
         <div class="row">
            <div class="col s12 m3 l1 xl1"></div>
            <div class="col s12 m6 l4 xl3">
               <div class="card-panel">
                  object(style="margin: 3%", data="../images/su_icon-urquiza.svg", type="image/svg+xml")
                  <form>
                     <div class="row">
                        <div class="input-field">
                           <input id="last_name" type="text" class="validate">
                           <label for="last_name">Nombre de Usuario</label>
                           <span class="helper-text" data-error="Error" data-success="Correcto"></span>
                        </div>
                     </div>
                     <div class="row">
                        <div class="input-field">
                           <input id="password" type="password" class="validate">
                           <label for="password">Contraseña</label>
                           <span class="helper-text" data-error="Error" data-success="Correcto"></span>
                        </div>
                     </div>
                  </form>
                  <div class="row">
                     <div class="col s12">
                        <div class="right">
                           <button class="btn waves-effect waves-light" type="submit" name="action">Ingresar
                              <i class="material-icons right">send</i>
                           </button>
                        </div>
                     </div>
                     </div>
                  </div>
               </div>
            <div class="col s12 m3 l7 xl8"></div>
         </div>
      </body>
   </html>


