div.copyright
	div.container
		.d-flex.justify-content-center
			p(style='font-size: 0.9em;') Web application designed by #[a(href="https://linkedin.com/in/paulo-ordóñez-Giovanazzi") Paulo] & #[a(href="https://linkedin.com/in/ivanog") Iván]