nav.navbar.navbar-expand-lg.navbar-dark.fixed-top
	.container-fluid
		.navbar-header
			.navbar-brand
				object#icono(data="../images/Urquiza_Icon.svg", type="image/svg+xml")

		button#toggle-color-navbar.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent')
			span.navbar-toggler-icon

		div#navbarSupportedContent.collapse.navbar-collapse.justify-content-between
			ul.nav.navbar-nav.mr-2
				li.nav-item
					a.nav-link(href='/') Inicio
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle(href='#',data-toggle='dropdown') Institucional
					.dropdown-menu.rounded-0
						a.dropdown-item(href='/nuestra-historia') Nuestra historia
						a.dropdown-item(href='/sedes') Sedes
						a.dropdown-item(href='/autoridades') Autoridades
						a.dropdown-item(href='/biblioteca') Biblioteca
						a.dropdown-item(href='/asociacion-cooperadora') Asociación cooperadora
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle(href='#',data-toggle='dropdown') Ingresantes
					.dropdown-menu.rounded-0
						a.dropdown-item(href='/informacion-ingresantes') Información para ingresantes
						a.dropdown-item(href='/cursos-ingreso') Cursos de ingreso
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle(href='#',data-toggle='dropdown') Carreras
					div.dropdown-menu.rounded-0
						a.dropdown-item(href='/analisis-funcional') Análisis Funcional de Sistemas Informáticos
						a.dropdown-item(href='/infraestructura-de-tecnologia-de-la-informacion') Infraestructura de Tecnología de la Información
						a.dropdown-item(href='/desarrollo-de-software') Desarrollo de Software
				li.nav-item
					a.nav-link(href='/#consultas') Contacto
			.left
				a.btn.btn-primary.rounded-0.mt-2(href='/aspirante/preinscripcion') Preinscribirse