div.footer
	div.container
		div.row
			div.col-md-3
				h4 Suscribete a novedades
				form(action='./')
					div.input-group.mb-3
						input.form-control.rounded-0(type='text', placeholder='Email')
						div.input-group-append
							button.btn.btn-outline-light.rounded-0(type='button')
								i.fa.fa-paper-plane
					p Recibi nuestras actualizaciones directamente en tu correo electrónico.

			div.col-md-3
				h4 Preguntas frecuentes
				ul
					li
						a(href='#') ¿Son gratuitas las carreras?
					li
						a(href='#') ¿Qué diferencia hay entre las carreras?
					li
						a(href='#') ¿Para qué me prepara las Carreras?
					li
						a(href='#') Saber más...
			div.col-md-3
				h4 Secretaría Académica
				p Lunes a Viernes de 20 a 22 hs.
				p Bedelía - 1º piso - Nivel Terciario
				p Bv. Oroño 690 - Rosario

			div.col-md-3
				center
					h4 Redes sociales
					p: a(href='#')
						i.fab.fa-twitter.fa-2x
					p: a(href='#')
						i.fab.fa-facebook.fa-2x
					p: a(href='#')
						i.fab.fa-instagram.fa-2x